[submodule "MapPolicy/models/pointnet/Pointnet_Pointnet2_pytorch"]
	path = MapPolicy/models/pointnet/Pointnet_Pointnet2_pytorch
	url = https://github.com/yanx27/Pointnet_Pointnet2_pytorch.git
[submodule "MapPolicy/models/LIFT3D"]
	path = MapPolicy/models/LIFT3D
	url = https://github.com/PKU-HMI-Lab/LIFT3D.git
